@inherits WebViewPage

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@BLResources.AdministrationPage_ErmAdministration</title>
    <link rel="stylesheet" type="text/css" href="/Content/Global.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/Administration.css?@ThisAssembly.Build"/>
</head>
<body>
    <table cellspacing="0" cellpadding="0" width="100%" height="100%">
        <tbody>
            <tr>
                <td>
                    <div class="content">
                        <div class="subtitle">@BLResources.AdministrationPage_Header</div>
                        <div class="headline"/>
                        <table style="table-layout: fixed" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="cursor: hand" id="Table1" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/Country'" width="51">
                                                        <div class="icon_48 icon_country" />
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A1" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/Country'" href="#">@BLResources.AdministrationPage_Country</a>
                                                        <div id="Div1" onclick="window.location.href='../Grid/View/Country'">@BLResources.AdministrationPage_CountryDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="cursor: hand" id="Table2" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tr>
                                                <td onclick="window.location.href='../Grid/View/Currency'" width="51">
                                                    <div class="icon_48 icon_currency" />
                                                </td>
                                                <td style="padding-left: 2px">
                                                    <a id="A2" class="linktitle ms-crm-Link" href="#" onclick="window.location.href='../Grid/View/Currency'">@BLResources.AdministrationPage_Currency</a>
                                                    <div id="Div2" class="linkhelp" onclick="window.location.href='../Grid/View/Currency'">@BLResources.AdministrationPage_CurrencyDetails</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table style="cursor: hand" id="Table3" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/OrganizationUnit'" width="51">
                                                        <div class="icon_48 icon_org_unit"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A3" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/OrganizationUnit'" href="#">@BLResources.AdministrationPage_OrganizationUnit</a>
                                                        <div id="Div3" class="linkhelp" onclick="window.location.href='../Grid/View/OrganizationUnit'">@BLResources.AdministrationPage_OrganizationUnitDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="cursor: hand" id="Table4" tabindex="0" cellspacing="0" cellpadding="12"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/BranchOffice'"
                                                        width="51">
                                                        <div class="icon_48 icon_branch_office"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A4" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/BranchOffice'" href="#">@BLResources.AdministrationPage_BranchOffice</a>
                                                        <div id="Div4" class="linkhelp" onclick="window.location.href='../Grid/View/BranchOffice'">@BLResources.AdministrationPage_BranchOfficeDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        <table style="cursor: hand" id="Table5" tabindex="0" cellspacing="0" cellpadding="12"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/BargainType'"
                                                        width="51">
                                                        <div class="icon_48 icon_bargain_type"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A5" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/BargainType'" href="#">@BLResources.AdministrationPage_BargainType</a>
                                                        <div id="Div5" class="linkhelp" onclick="window.location.href='../Grid/View/BargainType'">@BLResources.AdministrationPage_BargainTypeDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="cursor: hand" id="Table6" tabindex="0" cellspacing="0" cellpadding="12"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/ContributionType'" width="51"> 
                                                        <div class="icon_48 icon_contribution_type"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A6" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/ContributionType'" href="#">@BLResources.AdministrationPage_ContributionType</a>
                                                        <div id="Div6" class="linkhelp" onclick="window.location.href='../Grid/View/ContributionType'">@BLResources.AdministrationPage_ContributionTypeDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <table style="cursor: hand" id="Table7" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/OperationType'" width="51">
                                                        <div class="icon_48 icon_bargain_type"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A7" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/OperationType'" href="#">@BLResources.AdministrationPage_OperationType</a>
                                                        <div id="Div7" class="linkhelp" onclick="window.location.href='../Grid/View/OperationType'">@BLResources.AdministrationPage_OperationTypeDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="cursor: hand" id="Table8" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/Territory'" width="51">
                                                        <div class="icon_48 icon_country"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A8" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/Territory'" href="#">@BLResources.AdministrationPage_Territory</a>
                                                        <div id="Div8" class="linkhelp" onclick="window.location.href='../Grid/View/Territory'">@BLResources.AdministrationPage_TerritoryDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <table style="cursor: hand" id="Table10" tabindex="0" cellspacing="0" cellpadding="12" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td onclick="window.location.href='../Grid/View/Project'" width="51">
                                                        <div class="icon_48 icon_bargain_type"/>
                                                    </td>
                                                    <td style="padding-left: 2px">
                                                        <a id="A10" class="linktitle ms-crm-Link" onclick="window.location.href='../Grid/View/Project'" href="#">@BLResources.AdministrationPage_Project</a>
                                                        <div id="Div10" class="linkhelp" onclick="window.location.href='../Grid/View/Project'">@BLResources.AdministrationPage_ProjectDetails</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">@BLResources.AdministrationPage_ProductVersion<strong>@ThisAssembly.SemanticVersion</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">@BLResources.AdministrationPage_ServerName<strong>@Dns.GetHostEntry("localhost").HostName</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
