
@model Models.CurrencyViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.EditableId(m => m.Id)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Name, FieldFlex.twins)
            @Html.TemplateField(m => m.Symbol, FieldFlex.twins)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.IsoCode, FieldFlex.twins)
            @Html.TemplateField(m => m.IsBase, FieldFlex.twins)
        </div>
    </div>
}