
@model Models.PlatformViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.EditableId(m => m.Id)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Name, FieldFlex.lone, new Dictionary<string, object> {{"class", "inputfields"}})
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.PlacementPeriod, FieldFlex.lone, null, EnumResources.ResourceManager)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.MinPlacementPeriod, FieldFlex.lone, null, EnumResources.ResourceManager)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.DgppId, FieldFlex.lone, null, EnumResources.ResourceManager)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.IsSupportedByExport, FieldFlex.lone, null, EnumResources.ResourceManager)
        </div>
    </div>
}