@model PriceViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
    <script src="/Scripts/Ext.DoubleGis.UI.Price.js?@ThisAssembly.Build" type="text/javascript"></script>
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CurrencyId)
        @Html.HiddenFor(m => m.Name)
        <div class="row-wrapper">
            @Html.TemplateField(m => m.CreateDate, FieldFlex.twins, new DateTimeSettings { ReadOnly = true, ShiftOffset = false })
            @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.twins, new LookupSettings { EntityName = EntityType.Instance.OrganizationUnit() })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.PublishDate, FieldFlex.twins, new DateTimeSettings { MinDate = DateTime.Now, ShiftOffset = false})
            @Html.TemplateField(m => m.IsPublished, FieldFlex.twins, new Dictionary<string, object> { { "disabled", "disabled" } })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.BeginDate, FieldFlex.twins, new DateTimeSettings{MinDate = DateTime.Now.AddDays(1), ShiftOffset = false, PeriodType = PeriodType.MonthlyLowerBound})
        </div>
    </div>
}