
@model ProjectViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{  
}

@section CardBody
{    
    @Html.HiddenFor(m => m.Id)

    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">    
        <div class="row-wrapper">
            @Html.TemplateField(m => m.DisplayName, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
        
        <div class="row-wrapper">
            @Html.TemplateField(m => m.NameLat, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
    
        <div class="row-wrapper">
            @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.lone, new LookupSettings { EntityName = EntityType.Instance.OrganizationUnit() })
        </div>   
        
        <div class="row-wrapper">
            @Html.TemplateField(m => m.DefaultLanguage, FieldFlex.lone, new Dictionary<string, object> { { "disabled", "true" } }, EnumResources.ResourceManager)
        </div>   
    </div>
}

    