
@model TerritoryViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
    <script src="/Scripts/Ext.DoubleGis.UI.Territory.js?@ThisAssembly.Build" type="text/javascript"></script>
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.EditableId(m => m.Id)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Name, FieldFlex.twins, new Dictionary<string, object> {{"class", "inputfields"}})
            @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.twins, new LookupSettings { EntityName = EntityName.OrganizationUnit })
        </div>
    </div>
}

@section CustomInit
{
    <script type="text/javascript">
        Ext.onReady(function()
        {
            var cardSettings = @Html.WriteJson(Model.ViewConfig.CardSettings);
            window.Card = new window.Ext.DoubleGis.UI.Territory(cardSettings);
            window.Card.Build();
        });
    </script>
}
