
@model Models.Russia.BargainTypeViewModel
           
@{
    Layout = "../../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.EditableId(m => m.Id)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Name, FieldFlex.twins)
            @Html.TemplateField(m=> m.VatRate, FieldFlex.twins)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.SyncCode1C, FieldFlex.lone)
        </div>
    </div>
}
