@model DoubleGis.Erm.BLFlex.UI.Web.Mvc.Global.Models.Russia.BranchOfficeViewModel

@{
    Layout = "../../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.EditableId(m => m.Id)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Name, FieldFlex.lone)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.LegalAddress, FieldFlex.lone)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Inn, FieldFlex.lone)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.BargainType, FieldFlex.twins, new LookupSettings { EntityName = EntityType.Instance.BargainType(), ReadOnly = !Model.IsNew, ShowReadOnlyCard = true})
            @Html.TemplateField(m => m.ContributionType, FieldFlex.twins, new LookupSettings { EntityName = EntityType.Instance.ContributionType(), ReadOnly = !Model.IsNew, ShowReadOnlyCard = true })
        </div>
    </div>
    <div class="Tab" id="AnnotationTab" title="@BLResources.Notes">
        <div class="row-wrapper">
            @Html.TemplateField(m => m.UsnNotificationText, FieldFlex.lone, new Dictionary<string, object>{{"rows", "10"}})
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Annotation, FieldFlex.lone, new Dictionary<string, object> { { "rows", "10" } })
        </div>
    </div>
    <div class="Tab" id="AdditionalTab" title="@BLResources.AdditionalTabTitle">
        <div class="row-wrapper">
            @Html.TemplateField(m => m.DgppId, FieldFlex.twins)
        </div>
    </div>
}
