@model EntityViewSet
           
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@BLResources.List</title>

    <meta id="meta_IsDebug" name="meta_IsDebug" content="@HttpContext.Current.IsDebuggingEnabled" />
    <meta id="meta_Revision" name="meta_Revision" content="@ThisAssembly.Build" />
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
    <link rel="stylesheet" type="text/css" href="/Content/ext-all.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/ext-extend.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/DataList.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/QuickFindStyle.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/CRM4.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/ext-mask.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/LookupStyle.css?@ThisAssembly.Build" />
    
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/Scripts/ext-base-debug.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/ext-all-debug-w-comments.js?@ThisAssembly.Build" type="text/javascript"></script>
    }
    else
    {
        <script src="/Scripts/ext-base.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/ext-all.js?@ThisAssembly.Build" type="text/javascript"></script>
    }

    <script src="/Scripts/@("Ext.LocalizedResources." + ViewData.GetUserLocaleInfo().TwoLetterISOLanguageName + ".js")?@ThisAssembly.Build" type="text/javascript"></script>

    <script type="text/javascript">
        Ext.USER_ID = @ViewData.GetUserIdentityInfo().Code;
        Ext.USER_NAME = @ViewData.GetUserIdentityDisplayName();
        Ext.CultureInfo = @Html.WriteJson(ViewData.GetUserLocaleInfo());
        Ext.CultureInfo.NumberFormatInfo.CurrencySymbol = '@ViewData.GetErmBaseCurrencySymbol()';
        Ext.BasicOperationsServiceRestUrl = '@ViewData.GetBasicOperationsServiceRestUrl()';
        Ext.SpecialOperationsServiceRestUrl = '@ViewData.GetSpecialOperationsServiceRestUrl()';
    </script>
    

    <script src="/Scripts/DoubleGis.GlobalVariables.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.Ajax.syncRequest.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Common.ErrorHandler.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.DoubleGis.Store.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.UI.DataList.js?@ThisAssembly.Build" type="text/javascript"></script>
   

    <script type="text/javascript">
        var SearchRecords = function ()
        {
            Entity.Items.Store.setBaseParam("filterInput", this.getValue());
            Entity.Items.Grid.getBottomToolbar().changePage(1);
        };
    
        Ext.onReady(function ()
            {
            var settings = @Html.WriteJson(Model);
            settings.listeners = {
                afterbuild:function () 
                {
                    var viewBox = Ext.get("availableViews");
                    var defaultView = this.currentSettings;
                    Ext.each(this.EntityModel.DataViews, function (item) {
                        var isDefault = defaultView && item.NameLocaleResourceId == defaultView.NameLocaleResourceId;
                        viewBox.dom.options.add(new Option(item.LocalizedName, item.NameLocaleResourceId, isDefault, isDefault));
                    });
                    viewBox.on("change", this.RebuildPage, this);
                },
                afterrebuild: function () {
                    Ext.DoubleGis.UI.QuikFind["RecordFilter"].setValue("");
                    if(this.currentSettings.Title) {
                        window.document.title = this.currentSettings.Title;
                    }
                }
            };
            window.Entity = new Ext.DoubleGis.UI.DataList(settings);
        });
    </script>
    @foreach (var script in Model.DataViews.First().Scripts)
    {
        <script src="/Scripts/@script.FileName?@ThisAssembly.Build" type="text/javascript"></script>
    }
</head>
<body class="stage">
    <div id="DataListContent" style="display: none">
        <div id="FilterPanel">
            <table width="100%" border="0" style="background-color: #d6e8ff">
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" style="padding-left: 5px; padding-top: 7px;
                            padding-bottom: 5px;">
                            <colgroup>
                                <col width="60%" />
                                <col width="20" />
                                <col />
                                <col width="40%" />
                            </colgroup>
                            <tr>
                                <td>
                                    @{
                                        Html.RenderPartial("QuickFindControl", new QuickFindSettings
                                        {
                                            Name = "RecordFilter",
                                            OnSearchFunction = "SearchRecords"
                                        });
                                     }
                                </td>
                                <td style="width: 20">
                                    <span />
                                </td>
                                <td style="font-weight: bold;">
                                    @BLResources.View:
                                </td>
                                <td class="QuickFind">
                                    <select id="availableViews" class="inputfields" style="width: 100%">
                                        <optgroup id="AppSystemViews" label="@BLResources.SystemViews" />
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
