@using DoubleGis.Erm.BLCore.UI.Web.Mvc.Settings
@using DoubleGis.Erm.BLCore.UI.Web.Mvc.UserProfiles
@using DoubleGis.Erm.Platform.UI.Web.Mvc.Security

@inherits WebViewPage

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base target="_self" />

    <meta id="meta_IsDebug" name="meta_IsDebug" content="@HttpContext.Current.IsDebuggingEnabled" />
    <meta id="meta_Revision" name="meta_Revision" content="@ThisAssembly.Build" />
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
    <link rel="stylesheet" type="text/css" href="/Content/ext-all.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/CRM4.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/MainPage.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/ext-mask.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/LookupStyle.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/Card.css?@ThisAssembly.Build" />
    <link rel="stylesheet" type="text/css" href="/Content/ext-ux-calendar2.css?@ThisAssembly.Build" />
    
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/Scripts/ext-base-debug.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/ext-all-debug-w-comments.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/moment-with-locales.js"></script>
        <script src="/Scripts/moment-timezone-with-data.js"></script>
    }
    else
    {
        <script src="/Scripts/ext-base.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/ext-all.js?@ThisAssembly.Build" type="text/javascript"></script>
        <script src="/Scripts/moment-with-locales.min.js"></script>
        <script src="/Scripts/moment-timezone-with-data.min.js"></script>
    }

    <script src="/Scripts/@("Ext.LocalizedResources." + ViewData.GetUserLocaleInfo().TwoLetterISOLanguageName + ".js")?@ThisAssembly.Build" type="text/javascript"></script>
    
    <script type="text/javascript">
        Ext.USER_ID = @ViewData.GetUserIdentityInfo().Code;
        Ext.USER_NAME = @ViewData.GetUserIdentityDisplayName();
        Ext.CultureInfo = @Html.WriteJson(ViewData.GetUserLocaleInfo());
        Ext.CultureInfo.NumberFormatInfo.CurrencySymbol = '@ViewData.GetErmBaseCurrencySymbol()';
        Ext.BasicOperationsServiceRestUrl = '@ViewData.GetBasicOperationsServiceRestUrl()';
        Ext.SpecialOperationsServiceRestUrl = '@ViewData.GetSpecialOperationsServiceRestUrl()';
    </script>
    
    <script src="/Scripts/DoubleGis.GlobalVariables.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.TimeZoneMap.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Common.ErrorHandler.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.LookupField.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.LinkField.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.Calendar.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.LookupFieldOwner.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.MvcFormValidator.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.DependencyHandler.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.UI.DialogWindow.js?@ThisAssembly.Build" type="text/javascript"></script>
    
    <script src="/Scripts/Ext.ux.MonthPicker.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.MonthMenu.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.TimeComboBox.js?@ThisAssembly.Build" type="text/javascript"></script>
    <script src="/Scripts/Ext.ux.Calendar2.js?@ThisAssembly.Build" type="text/javascript"></script>

    @if (IsSectionDefined("PageScript")) { 
        @RenderSection("PageScript")
    }
    
    <title>
        @RenderSection("Title")
    </title>
</head>
    <body>
        @if (IsSectionDefined("RawContent"))
        {
            <div class="title" id="TopBarTitle">
                @RenderSection("TopBarTitle")
            </div>
            <div id="raw-content">
                @RenderSection("RawContent")
            </div>
        }
        else
        {
            <table width="100%" height="100%" border="0" cellspacing="0">
                <tr>
                    <td height="50px">
                        <table class="topmnuBar" cellpadding="0" cellspacing="5">
                            <tbody>
                                <tr>
                                    <td valign="middle">
                                        <span class="title" id="TopBarTitle">
                                            @RenderSection("TopBarTitle")
                                        </span>
                                    </td>
                                </tr>
                                @if (IsSectionDefined("TopBarMessage"))
                                {
                                    <tr>
                                        <td valign="top">
                                            <span class="regular" id="TopBarMessage">
                                                @RenderSection("TopBarMessage")
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="PageContentCell">
                        @RenderSection("PageContent")
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right" width="100%" class="ms-crm-Dialog-Footer">
                        @if (IsSectionDefined("PageButtons"))
                        {
                            @RenderSection("PageButtons")
                        }
                        else
                        {
                            <input class="CrmButton" type="button" id="OK" value="@BLResources.OK" />
                            <input class="CrmButton" type="button" id="Cancel" value="@BLResources.Cancel" />
                        }
                    </td>
                </tr>
            </table>
        }
    </body>
</html>
