
@model ChangeOrderDealViewModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { @BLResources.ChangeDeal }
@section TopBarTitle { @BLResources.ChangeDeal }
@section TopBarMessage { @BLResources.ChangeDealLegend }

@section PageContent
{
    <script type="text/javascript">
        Ext.onReady(function ()
        {
            //Show error messages
            if (Ext.getDom("Notifications").innerHTML.trim() == "OK")
            {
                window.returnValue = true;
                window.close();
                return;
            }
            else if (Ext.getDom("Notifications").innerHTML.trim() != "")
            {
                Ext.get("Notifications").addClass("Notifications");
            }

            if (!window.dialogArguments.length)
            {
                // TODO {all, 18.12.2013}: alert можно заменить на ext'овый messagebox
                alert(Ext.LocalizedResources.NeedToSelectOneOrMoreItems);
                window.close();
                return;
            }
            else
            {
                Ext.getDom("OrderId").value = window.dialogArguments;
            }

            //write eventhandlers for buttons
            Ext.get("Cancel").on("click", function () { window.returnValue = null; window.close(); });
            Ext.get("OK").on("click", function ()
            {
                if (Ext.DoubleGis.FormValidator.validate(window.EntityForm))
                {
                    Ext.getDom("OK").disabled = "disabled";
                    Ext.getDom("Cancel").disabled = "disabled";
                    window.EntityForm.submit();
                }
            });
        });

    </script>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new Dictionary<string, object> { { "id", "EntityForm" }, { "enctype", "multipart/form-data" } }))
    {
        <table cellspacing="5" cellpadding="5" width="100%" height="100%">
            <colgroup>
                <col width="26" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div style="height: 24px;" id="Notifications">
                            @Model.Message</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(k => k.Deal)
                    </td>
                    <td>
                        @Html.LookupFor(k => k.Deal, new LookupSettings {EntityName = EntityType.Instance.Deal(), ExtendedInfo = "OrderId={OrderId}"})
                        @Html.ValidationMessageFor(k => k.Deal)
                    </td>
                </tr>
                <tr style="display: none">
                    <td>
                        @Html.HiddenFor(m => m.OrderId)
                    </td>
                </tr>
            </tbody>
        </table>
    }
}