@model MergeLegalPersonsDataViewModel

<table cellspacing="0" cellpadding="0" style="width: 100%; height: 100%; table-layout: auto;" >
    <colgroup>
        <col width="165" />
        <col width="20" />
        <col />
        <col width="20" />
        <col />
    </colgroup>

    <tbody>
        
        @Html.MergeDataRowFor(l => l.LegalPerson1.Owner, r => r.LegalPerson2.Owner, "section_0", null, true, false)
        @Html.MergeDataRowFor(l => l.LegalPerson1.ShortName, r => r.LegalPerson2.ShortName, "section_0", null, true, false)
        @Html.MergeDataRowFor(l => l.LegalPerson1.LegalAddress, r => r.LegalPerson2.LegalAddress, "section_0", null, true, false)
        @if(Model.LegalPerson1.LegalPersonType==LegalPersonType.LegalPerson)
        {
            @Html.MergeDataRowFor(l => l.LegalPerson1.Inn, r => r.LegalPerson2.Inn, "section_0", null, true, false)
            @Html.MergeDataRowFor(l => l.LegalPerson1.Kpp, r => r.LegalPerson2.Kpp, "section_0", null, true, false)
        }
        @if(Model.LegalPerson1.LegalPersonType==LegalPersonType.Businessman)
        {
            @Html.MergeDataRowFor(l => l.LegalPerson1.BusinessmanInn, r => r.LegalPerson2.BusinessmanInn, "section_0", null, true, false)
        }
        @if(Model.LegalPerson1.LegalPersonType==LegalPersonType.NaturalPerson)
        {
            @Html.MergeDataRowFor(l => l.LegalPerson1.PassportSeries, r => r.LegalPerson2.PassportSeries, "section_0", null, true, false)
            @Html.MergeDataRowFor(l => l.LegalPerson1.PassportNumber, r => r.LegalPerson2.PassportNumber, "section_0", null, true, false)
        }
        
    </tbody>
</table>
