@model PrintLimitsViewModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { @BLResources.PrintLimits }
@section TopBarTitle { @BLResources.PrintLimits }
@section TopBarMessage { }

@section PageContent
{
    <script type="text/javascript">
        Ext.onReady(function ()
        {
            //Show error messages
            if (Ext.getDom("Notifications").innerHTML.trim() != "")
            {
                Ext.getDom("Notifications").style.display = "block";

                Ext.get("Message").hide();
                Ext.get("OK").disable();
            }

            //write eventhandlers for buttons
            Ext.get("Cancel").on("click", function () { window.close(); });
            Ext.get("OK").on("click", function ()
            {
                EntityForm.submit();
            });
        });
    </script>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new Dictionary<string, object> { { "id", "EntityForm" } }))
    {
    <table cellspacing="5" cellpadding="5" width="100%" height="100%">
        <tbody>
            <tr>
                <td>
                    <div style="display: none; height: 15px;" id="Notifications" class="Notifications">
                        @Model.Message
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight: bold" id="Message">
                        @string.Format(BLResources.NumberOfLimitsWillBePrinted, Model.LimitCount)
                    </label>
                </td>
            </tr>
            <tr style="display: none">
                <td>
                    @Html.HiddenFor(m => m.LimitIds)
                </td>
            </tr>
        </tbody>
    </table>
    }
}