
@model OperationViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
    <style type="text/css">
        DIV.Tab TABLE TD
        {
            padding-bottom: 0px !important;
        }
        DIV.Tab TABLE
        {
            width: auto !important;
        }
        div.display-wrapper
        {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
        }
        div.label-wrapper
        {
            width: 130px !important;
        }
    </style>    

}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
    <div style="display: none">
        @if (Model != null)
        {
            @Html.HiddenFor(m => m.Id)
        }
    </div>
        <br />
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Type, FieldFlex.twins, null, EnumResources.ResourceManager)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.StartTime, FieldFlex.twins)
            @Html.TemplateField(m => m.FinishTime, FieldFlex.twins)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Status, FieldFlex.twins, null, EnumResources.ResourceManager)
            @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.twins, new LookupSettings { EntityName = EntityType.Instance.OrganizationUnit(), ShowReadOnlyCard = true })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Description, FieldFlex.lone, new Dictionary<string, object>{{"rows", 5}})
        </div>
    </div>
}



