
@model WithdrawalInfoViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        @Html.HiddenFor(m => m.Id)
        <div class="row-wrapper">
            @Html.TemplateField(m => m.PeriodStartDate, FieldFlex.twins, new DateTimeSettings { ShiftOffset = false })
            @Html.TemplateField(m => m.PeriodEndDate, FieldFlex.twins, new DateTimeSettings { ShiftOffset = false })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.twins, new LookupSettings { EntityName = EntityType.Instance.OrganizationUnit(), Disabled = true })
            @Html.TemplateField(m => m.Status, FieldFlex.twins, null, EnumResources.ResourceManager)
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Comment, FieldFlex.lone, new Dictionary<string, object>{{"rows", "5"}})
        </div>
    </div>
}