
@model AdditionalFirmServiceViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
<div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
    @Html.HiddenFor(m => m.Id)
    
    <div class="row-wrapper">
        @Html.TemplateField(m => m.ServiceCode, FieldFlex.lone)
    </div>
    <div class="row-wrapper">
        @Html.TemplateField(m => m.Description, FieldFlex.lone)
    </div>
    <div class="row-wrapper">
        @Html.TemplateField(m => m.IsManaged, FieldFlex.lone)
    </div>
</div>
}