@model UnpublishAdvertisementTemplateModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { @BLResources.AdvertisementTemplatePublishConfirmationLabel }
@section TopBarTitle { @BLResources.UnpublishAdvertisementTemplateLabel }
@section TopBarMessage { @BLResources.UnpublishAdvertisementTemplateConfirmation }

@section PageContent
{
    <script type="text/javascript">
        Ext.onReady(function ()
        {
            //Show error messages
            if (Ext.getDom("Notifications").innerHTML.trim() == "OK")
            {
                window.close();
                return;
            }
            else if (Ext.getDom("Notifications").innerHTML.trim() != "")
            {
                Ext.get("Notifications").addClass("Notifications");
                Ext.getDom("OK").disabled = "disabled";
            }
            //write eventhandlers for buttons
            Ext.get("Cancel").on("click", function () { window.close(); });
            Ext.get("OK").on("click", function ()
            {
                Ext.getDom("Id").value = window.dialogArguments.advertisementTemplateId;

                Ext.getDom("OK").disabled = "disabled";
                Ext.getDom("Cancel").disabled = "disabled";
                EntityForm.submit();
            });
        });
    </script>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new Dictionary<string, object> { { "id", "EntityForm" } }))
    {
    @Html.HiddenFor(m => m.Id)
    <table cellspacing="5" cellpadding="5" width="100%" height="100%">
        <colgroup>
            <col />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="height: 15px;" id="Notifications">
                        @Model.Message
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    }
}