@model DoubleGis.Erm.BLFlex.UI.Web.Mvc.Global.Models.Emirates.EmiratesFirmAddressViewModel

@{
    Layout = "../../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    @Html.HiddenFor(m => m.Id)
    <div class="Tab" id="Div1" title="@BLResources.GeneralTabTitle">
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Firm, FieldFlex.lone, new LookupSettings { EntityName = EntityType.Instance.Firm(), ReadOnly = true })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Address, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.PoBox, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.PaymentMethods, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.WorkingTime, FieldFlex.lone, new Dictionary<string, object> { { "readonly", "readonly" } })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.ClosedForAscertainment, FieldFlex.twins, new Dictionary<string, object> { { "disabled", "disabled" } })
        </div>
    </div>
}