@using DoubleGis.Erm.Platform.Common.Utils
@model LocalMessageExportViewModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { Выгрузить сообщение }
@section TopBarTitle { Выгрузить сообщение }
@section TopBarMessage { Выгрузить сообщение }

@section PageContent
{
    <script src="/Scripts/Tooltip.js?@ThisAssembly.Build" type="text/javascript"></script>

    <script type="text/javascript">
        Ext.onReady(function() {

            // show error messages
            if (Ext.getDom("Notifications").innerHTML.trim() != "") {
                Ext.getDom("Notifications").style.display = "block";
            }

            var depList = window.Ext.getDom("ViewConfig_DependencyList");
            if (depList.value) {
                this.DependencyHandler = new window.Ext.DoubleGis.DependencyHandler();
                this.DependencyHandler.register(window.Ext.decode(depList.value), window.EntityForm);
            }

            var orgUnitLookup = Ext.getCmp("OrganizationUnit");
            var dropDown = Ext.getDom("IntegrationType");

            if (dropDown.value == "LegalPersonsTo1C") {
                orgUnitLookup.extendedInfo = "filterByMovedToErm=true";
            } else {
                orgUnitLookup.extendedInfo = "";
            }

            Ext.get("Cancel").on("click", function() { window.close(); });
            Ext.get("OK").on("click", function() {
                if (Ext.DoubleGis.FormValidator.validate(window.EntityForm)) {
                    Ext.getDom("OK").disabled = "disabled";
                    Ext.getDom("Cancel").disabled = "disabled";
                    Ext.getDom("Notifications").style.display = "none";
                    window.EntityForm.submit();
                }
            });

            Ext.get("IntegrationType").on("change", function() {
                var orgUnitLookup = Ext.getCmp("OrganizationUnit");
                var dropDown = Ext.getDom("IntegrationType");

                if (dropDown.value == "LegalPersonsTo1C") {
                    orgUnitLookup.extendedInfo = "filterByMovedToErm=true";
                } else {
                    orgUnitLookup.extendedInfo = "";
                }
            });

            //Запрещаем выбрать поздравления и уведомления об оплате. Это временное требование. Убрать, когда нужно будет
            var sendingTypes = document.getElementById('MailSendingType').getElementsByTagName('option');
            sendingTypes[1].disabled = true;
            sendingTypes[2].disabled = true;
        });
    </script>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new Dictionary<string, object> { { "id", "EntityForm" } }))
    {
        <div class="Tab">
            @Html.Hidden("ViewConfig_DependencyList", Model.ViewConfig.DependencyList)
            <div style="display: none; height: 26px;" id="Notifications" class="Notifications" onmouseover=" AddTooltip(Ext.getDom('Notifications') ? Ext.getDom('Notifications').innerHTML : ''); " onmouseout=" RemoveTooltip(); ">
                @Model.Message
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.IntegrationType, FieldFlex.lone, null, LocalMessageController.IntegrationTypeExportResourceManager)
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.OrganizationUnit, FieldFlex.lone, new LookupSettings { EntityName = EntityName.OrganizationUnit })
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.MailSendingType, FieldFlex.lone, null, EnumResources.ResourceManager)
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.PeriodStart, FieldFlex.lone, new CalendarSettings
                                                                            {
                                                                                Store = CalendarSettings.StoreMode.Relative,
                                                                                Display = CalendarSettings.DisplayMode.Month,
                                                                                MinDate = new DateTime(2010, 12, 1),
                                                                                MaxDate = DateTime.Now.GetNextMonthFirstDate()
                                                                            })
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.PeriodStartFor1C, FieldFlex.lone, new CalendarSettings
                    {
                        Store = CalendarSettings.StoreMode.Relative,
                        MinDate = new DateTime(2010, 12, 1),
                        MaxDate = DateTime.Today
                    })
            </div>
            <div class="row-wrapper">
                @Html.TemplateField(m => m.IncludeRegionalAdvertisement, FieldFlex.lone)
            </div>
        </div>
    }
}
