
@model Models.PrintOrderViewModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { @BLResources.ChooseLegalPersonProfileDialogTitle }
@section TopBarTitle { @BLResources.ChooseLegalPersonProfileDialogTitle }
@section TopBarMessage { @BLResources.ChooseLegalPersonProfile }

@section PageContent
{
    <script src="/Scripts/Tooltip.js?@SolutionInfo.ProductVersion.Build" type="text/javascript"></script>
    <script src="/Scripts/DoubleGis.UI.GroupOperations.js?@SolutionInfo.ProductVersion.Build" type="text/javascript"></script>
    
    <script type="text/javascript">
        Ext.onReady(function() {

            Ext.get("Cancel").on("click", function() { window.close(); });
            Ext.get("OK").on("click", function() {
                if (Ext.DoubleGis.FormValidator.validate(EntityForm)) {

                    var orderId = Ext.getDom('OrderId').value;
                    var methodName = Ext.getDom('PrintOrderType').value;
                    var profileId = Ext.getCmp("LegalPersonProfile").getValue().id;

                    url = '/Order/' + methodName + '/' + orderId + '?profileId=' + profileId + '&__dc=' + Ext.util.Format.cacheBuster();

                    Ext.getDom("OK").disabled = true;
                    Ext.getDom("Cancel").disabled = true;

                    var iframe;
                    iframe = document.getElementById("hiddenDownloader");
                    if (iframe === null) {
                        iframe = document.createElement('iframe');
                        iframe.id = "hiddenDownloader";
                        iframe.style.visibility = 'hidden';

                        var iframeEl = new Ext.Element(iframe);
                        iframeEl.on("load", function() {
                            var iframeContent = iframe.contentWindow.document.documentElement.innerText;
                            if (iframeContent != "") {
                                alert(iframeContent);
                            }
                        });
                        document.body.appendChild(iframe);
                    }

                    iframe.src = url;
                    Ext.getDom("OK").disabled = false;
                    Ext.getDom("Cancel").disabled = false;
                }
            });
        });
    </script>
    
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new Dictionary<string, object> {{"id", "EntityForm"}}))
    {
        <table cellspacing="5" cellpadding="5" width="100%" height="100%" style="position: fixed">
            <colgroup>
                <col width="26" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div style="height: 30px;" id="Notifications" 
                             onmouseover="AddTooltip(@Model.Message);" 
                             onmouseout="RemoveTooltip();">
                            @Model.Message
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight: bold" for="rdoAssignToUser">@BLResources.PrintWithLegalPersonProfile</label>
                        <table style="table-layout: fixed" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TemplateField(m => m.LegalPersonProfile, FieldFlex.lone, new LookupSettings {EntityName = EntityName.LegalPersonProfile, ExtendedInfo = "filterToParent=true", ParentEntityName = EntityName.LegalPerson, ParentIdPattern = "LegalPersonId"})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="pbDiv">
                            <div id="pbInner">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.HiddenFor(m => m.OrderId)
        @Html.HiddenFor(m => m.LegalPersonId)
        @Html.HiddenFor(m => m.PrintOrderType)
        @Html.HiddenFor(m => m.PrintOrderType)
    }
}

